/*1F409*/ /*dragon emoji*/

:root {
  --background: #00034b;
  --white: #ffffff;
  --grey: #dbdbdb;
  --pink: #e5a9c4;
  --shadow: #000232;
}

/*HOW TO CENTER A DIV: https://stackoverflow.com/questions/14123999/center-a-div-horizontally-and-vertically*/
body {
  background-color: #302d2d;
    background-image: linear-gradient(45deg, rgba(0,0,0,0.2) 45%, transparent 55%), linear-gradient(to bottom, rgba(0,0,0,0.2) 45%, transparent 55%);
    background-size: 0.5em 0.5em;
}

#maze_container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: fit-content;
    max-width: 100%;
    max-height: 100%;
}
  
#game_controls_container {
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: fit-content;
    z-index: 1000;
}

#main_message {
    font-size: 4em;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    color: #fff;
    margin-bottom: 10px;
}

#start_game_button {
    font-family: monospace;
    margin-top: 10px;
}

#restart_game_button {
    font-family: monospace;
    margin-top: 10px;
    display: none;
}

#countdown_message {
    font-size: 1em;
    font-family: monospace;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    color: #fff;
    margin-top: 10px;
}

#maze {
    position: relative;
    background-color: #a7c53f;
    background-image: radial-gradient(circle at 0% 0%, transparent 50%, rgba(0,0,0,0.1) 50%), radial-gradient(circle at center, rgba(0,0,0,0.1) 50%, transparent 50%), radial-gradient(circle at 100% 100%, transparent 50%, rgba(0,0,0,0.1) 50%), radial-gradient(circle at 0% 100%, transparent 50%, rgba(0,0,0,0.1) 50%), radial-gradient(circle at 100% 0%, transparent 50%, rgba(0,0,0,0.1) 50%);
    background-size: 8em 8em;
    z-index: 1;
}
  
#start_game { 
    display: flex;
    z-index: 300;
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
}
  
#maze div {
    display: flex;
}
  
#maze div div {
    position: relative;
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    z-index: 20; /* Ensure text is on top */
}
  
#maze div div::after {
    position: absolute;
    right: 0; /* play with 'top' and 'right' to shift position of number value of hero/monster/etc */
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 5; /* Ensure background images are underneath the text */
    content: ""; /*Reset content by default*/
}

#maze div div.door.exit::after {
    content: "\1F6AA";
}
  
#maze div div.warp_spot::after {
    content: "\1F7EB";
}

#maze div div.debuff::after {
    content: "\1F480";
}

/* Default monster emoji */
/* #maze div div.monster::after {
    content: "\1F40A"; 
} */
  
#maze div div.boss::after {
    content: "\1F409"; /* dragon emoji */
}

.monster {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); /*DIAMOND Shape*/
  position: relative;
  width: 6px;
  height: 6px;
  /* border: 1px solid transparent; */ /* seems to mess with maze sizing? */
  background-color: whitesmoke;
  /* animation: float 1s infinite;   */
}

.monster__eyes {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  width: 9px;
  height: 2px;
  z-index: 2;
}

.monster__eyes:before { 
  content: "";
  display: block;
  width: 3px;
  height: 5px;
  background: red;
  border-radius: 50%;
  animation: eyesBlink 2s infinite;
  transition: transform 0.3s ease; 
  z-index: 50;
}

/*Hero emoji*/
/* #maze div div.hero::after {
    content: "\1F6B6"; 
    z-index: 10;
} */
  
.heroValue, .debuffValue, .monsterValue, .powerUpValue {
    color: black;
    position: absolute;
    display: flex;
    font-size: 12px;
    z-index: 30;
}
  
#maze.face-right div.hero::after {
    transform: scale(-1, 1);
}
  
#maze div div.wall, #maze div div.door.exit {
    background-color: #454545;
    background-image: linear-gradient(45deg, rgba(0,0,0,0.2) 45%, transparent 55%), linear-gradient(to bottom, rgba(0,0,0,0.2) 45%, transparent 55%);
    background-size: 0.5em 0.5em;
}
  
#maze div div.powerUp.wall {
    background: transparent;
}
  
#maze div div.powerUp::after {
    content: "\1F344"; /* mushroom emoji */
    z-index: 10;
}
  
#maze div.powerUp:nth-of-type(3n)::after {
    content: "\1F345"; /* tomato emoji */
    z-index: 10;
}
  
#maze div div.key::after {
    content: "\1F511";
}
  
#maze div div:nth-child(odd) {
    width: 1em;
}
  
#maze div:nth-child(odd) div {
    height: 1em;
}
  
#maze.finished::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*content: "You Won!";*/
    background: rgba(82, 21, 5, 0.647);
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 5em;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    color: #fff;
    z-index: 50;
}

#maze.game_over::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*content: "GAME OVER";*/
    background: rgba(82, 21, 5, 0.647);
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 5em;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    color: #fff;
    z-index: 50;
}
  
#maze_output {
    display: flex;
    margin: 0.5em auto;
}
  
#step_counter, #maze_message {
    font-family: fantasy;
    font-weight: bold;
    font-size: 1em;
}
  
#step_counter {
    flex: 1;
    white-space: nowrap;
    text-align: left;
}
  
#step_counter::before {
    content: "Steps: ";
}
  
#step_counter.has-key::after {
    content: "\00a0\1F511";
}
  
#maze_message {
    flex: 3;
    text-align: right;
}

.ghost {
    position: relative;
    width: 20px; /* Same width as pulse div */
    height: 20px; /* Same height as pulse div */
    /* animation: float 2s infinite;    */
}

.ghost__eyes {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  width: 9px;
  height: 2px;
  z-index: 2;
}

.ghost__eyes:before,
.ghost__eyes:after {
  content: "";
  display: block;
  width: 3px;
  height: 5px;
  background: var(--background);
  border-radius: 50%;
  animation: eyesBlink 3s infinite;
  transition: transform 0.3s ease; 
  z-index: 50;
}

.ghost__dimples {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  /* margin: 0 auto; */ /* Doesn't seem necessary ? */
  padding: 8px 0 0;
  width: 13px;
  height: 2px;
  z-index: 60;
}

.ghost__dimples:before,
.ghost__dimples:after {
  content: "";
  display: block;
  width: 4px;
  height: 2px;
  background: var(--pink);
  border-radius: 50%;
  z-index: 60;
}

.pulse {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  border-radius: 50%;
  z-index: 1;
}

.pulse span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  opacity: 0.8;
  animation: pulseAnimate 4s ease-out infinite;
  animation-delay: calc(2s * var(--i));
  z-index: 26;
}

@keyframes eyesBlink {
  0%, 30%, 38%, 100% {
    transform: scale(1);
  }
  34%, 36% {
    transform: scale(1,0);
  }
}

@keyframes pulseAnimate {
  100% {
      opacity: 0;
      transform: scale(1.5);
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
  