/*1F409*/ /*dragon emoji*/

/*HOW TO CENTER A DIV: https://stackoverflow.com/questions/14123999/center-a-div-horizontally-and-vertically*/
#maze_container {
    border-color: red;
    border-width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: fit-content;
    max-width: 100%;
    max-height: 100%;
  }
  

  #maze {
    position: relative;
    background-color: #a7c53f;
    background-image: radial-gradient(circle at 0% 0%, transparent 50%, rgba(0,0,0,0.1) 50%), radial-gradient(circle at center, rgba(0,0,0,0.1) 50%, transparent 50%), radial-gradient(circle at 100% 100%, transparent 50%, rgba(0,0,0,0.1) 50%), radial-gradient(circle at 0% 100%, transparent 50%, rgba(0,0,0,0.1) 50%), radial-gradient(circle at 100% 0%, transparent 50%, rgba(0,0,0,0.1) 50%);
    background-size: 8em 8em;
    z-index: 1;
  }
  #start_game { /*Having issues on making the button appear on top of the maze */
    display: flex;
    z-index: 300;
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
}
  #maze div {
    display: flex;
  }
  #maze div div {
    position: relative;
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    z-index: 20; /* Ensure text is on top */
  }
  #maze div div::after {
    position: absolute;
    right: 0; /* play with 'top' and 'right' to shift position of number value of hero/monster/etc */
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 5; /* Ensure background images are underneath the text */
    content: ""; /*Reset content by default*/
  }
  #maze div div.door.exit::after {
    content: "\1F6AA";
  }
  #maze div div.warp_spot::after {
    content: "\1F7EB";
  }
  #maze div div.debuff::after {
    content: "\1F480";
  }
  #maze div div.monster::after {
    content: "\1F40A"; /* Default monster emoji */
  }
  #maze div div.boss::after {
    content: "\1F409"; /* dragon emoji */
  }

  #maze div div.hero::after {
    content: "\1F6B6"; /*Hero emoji*/
    z-index: 10;
  }
  .heroValue, .debuffValue, .monsterValue, .powerUpValue {
    color: black;
    font-size: 16px;
    z-index: 30;
  }
  #maze.face-right div.hero::after {
    transform: scale(-1, 1);
  }
  #maze div div.wall, #maze div div.nubbin.wall, #maze div div.door.exit {
    background-color: #454545;
    background-image: linear-gradient(45deg, rgba(0,0,0,0.2) 45%, transparent 55%), linear-gradient(to bottom, rgba(0,0,0,0.2) 45%, transparent 55%);
    background-size: 0.5em 0.5em;
  }
  #maze div div.nubbin.wall::after {
    content: "";
  }
  #maze div div.powerUp.wall {
    background: transparent;
  }
  #maze div div.powerUp::after {
    content: "\1F344"; /* mushroom emoji */
    z-index: 10;
  }
  #maze div.powerUp:nth-of-type(3n)::after {
    content: "\1F345"; /* tomato emoji */
    z-index: 10;
  }
  #maze div div.key::after {
    content: "\1F511";
  }
  
  #maze div div:nth-child(odd) {
    width: 1em;
  }
  #maze div:nth-child(odd) div {
    height: 1em;
  }
  
  #maze.finished::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    content: "You Won!";
    background: rgba(0,0,0,0.4);
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 5em;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    color: #fff;
    z-index: 50;
  }

  #maze.game_over::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    content: "GAME OVER";
    background: rgba(82, 21, 5, 0.647);
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 5em;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    color: #fff;
    z-index: 50;
  }
  
  #maze_output {
    display: flex;
    margin: 0.5em auto;
  }
  #step_counter, #maze_message {
    font-family: fantasy;
    font-weight: bold;
    font-size: 1em;
  }
  #step_counter {
    flex: 1;
    white-space: nowrap;
    text-align: left;
  }
  #step_counter::before {
    content: "Steps: ";
  }
  #step_counter.has-key::after {
    content: "\00a0\1F511";
  }
  #maze_message {
    flex: 3;
    text-align: right;
  }
  